<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="container"> 
  
      <button class="btn btn-success " (click)="createUser()">Add</button>&nbsp;&nbsp;&nbsp;
       <button class="btn btn-primary " (click)="register()">Register</button>&nbsp;&nbsp;&nbsp;
       <p class="alert alert-danger" *ngIf=error>{{errorMsg}}</p>  <br><br>
      <!-- <button class="btn btn-primary " (click)="updateUser(1)">Update</button>&nbsp;&nbsp;&nbsp; -->
      <!-- <button class="btn btn-danger " (click)="deleteUser(user)" >Delete</button> -->
 
      <div class="row">
     
  <tr class="col-sm-6" *ngFor="let user of users">
    <td><img src="{{user.avatar}}"></td>
     <td>{{user.first_name}} {{user.last_name}}<br>{{user.email}}</td>
     <td> <button class="btn btn-primary " (click)="updateUser(user)">Update</button>&nbsp;&nbsp;&nbsp;<button class="btn btn-danger " (click)="deleteUser(user)" >Delete</button></td> 
    
  </tr></div>
</table>
</body>
</html>

