<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HelloWorld</title>

</head>
<body>

 <fmovie></fmovie> <!--
 <navbar></navbar> -->
 <b>Angular learning</b>&nbsp;&nbsp;
 <a routerLink="/login">Login</a>&nbsp;&nbsp;&nbsp;
 <a routerLink="/viewemp">ViewEmployee</a>&nbsp;&nbsp;&nbsp;
 <a routerLink="/empcomp">Employees</a>&nbsp;&nbsp;&nbsp;
 <a routerLink="/viewempreact">ViewEmplReact</a>&nbsp;&nbsp;&nbsp;
<a routerLink="/editemp">EditEmployee</a>&nbsp;&nbsp;&nbsp;
<a routerLink="/editempbuild">EditEmpFormBuilder</a>&nbsp;&nbsp;&nbsp;
<a routerLink="/editempview">EditEmp-template</a>&nbsp;&nbsp;&nbsp;
<a routerLink="/users">User</a>&nbsp;&nbsp;&nbsp;
<a routerLink="/quantinc">quantityIncrement</a>&nbsp;&nbsp;&nbsp;
<a routerLink="/quantsel">quantitySelector</a>
<hr>
 <router-outlet></router-outlet>
</body>
</html>